{% extends "base.html" %}

{% block content %}

<p> Velkommen til min blog!</p>

<h3>Indhold</h3>

<div class="row mb-2">
  {% for page in pages %}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">{{ page.category }}</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="{{ page.path }}">{{ page.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ page.date }}</div>
        <p class="card-text mb-auto">{{ page.description }}</p>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}